<h2> All Documents Within The Database </h2>
<br/><br/>


<!--Search function -->
<%= search_form_for @search do |f| %>

	<%= f.label :file_name_or_client_name_cont %>
	<%= f.search_field :file_name_or_client_cont %>
	<%= f.submit %>

<% end %>
<%if !@result.empty? %>
	<h2> Search Results </h2>
	<div>
		<% @result.each do |result| %>
			<h3><a href="/documents/<%=result.id%>"><%= result.file_name %> </a></h3>
			<p>Client: <%= result.client %></p>
			<p> Deadline <em>(year/ month, day)</em>: <%= result.deadline %></p>
			<br/><hr/>
		<% end %>
	</div>
<% else %>
<h3> Your search didn't return any results. </h3>
<%end %>

<br/><br/>
<div class = "alphabetical">
	<p> <em>Sorted alphabetically </em></p>

	<div>
	<% @documents.each do |doc| %>
		
		<h3><a href = "/documents/<%= doc.id%>"> <%= doc.file_name %> </a></h3>

		<p> Client: <%= doc.client %> </p>
		<p> Deadline <em> (year, month, day)</em>: <%= doc.deadline %> </p>

		<%= form_tag("/documents/#{doc.id}", method: :delete) do %>
	    			<input type="submit" value="Delete Entry" />
		<% end %>   

		<br/><br/><hr/>

	<% end %>
	</div>
</div>
<hr/>


<div class = "deadline">

	<p><em>Sorted by nearest approaching deadline </em></p>

	<div>
		<% @documents_deadline.each do |doc| %>
			<h3><a href = "/documents/<%= doc.id%>"> <%= doc.file_name %> </a></h3>

			<p> Client: <%= doc.client %> </p>
			<p> Deadline <em> (year, month, day)</em>: <%= doc.deadline %> </p>
			<%= form_tag("/documents/#{doc.id}", method: :delete) do %>
	    	<input type="submit" value="Delete Entry" />
			<% end %> 
			<br/><br/><hr/>

		<% end %>

	</div>
</div>
<hr/>


<div class = "created">

	<p><em>Sorted by oldest entries </em></p>

	<div>
		<% @documents_created.each do |doc| %>
			<h3><a href = "/documents/<%= doc.id%>"> <%= doc.file_name %> </a></h3>

			<p> Client: <%= doc.client %> </p>
			<p> Deadline <em> (year, month, day)</em>: <%= doc.deadline %> </p>
			<%= form_tag("/documents/#{doc.id}", method: :delete) do %>
	    	<input type="submit" value="Delete Entry" />
			<% end %> 
			<br/><br/><hr/>

		<% end %>

	</div>
</div>
<hr/>
