<h1> New Entry of File/Document </h1>

<%= form_for @document do |f| %>
	<% if @document.errors.any? %>
		<div class= "errors">
			<h3>Form is invalid</h3>
			<ul>
				<% @document.errors.full_messages.each do |m| %>
					<li> <%= m %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :"File Name" %><br/>
		<%= f.text_field :file_name %>
	</div>

	<div class="field">
		<%= f.label :Client %><br/>
		<%= f.text_field :client %>
	</div>

	<div class="field">
		<%= f.label :Deadline %><br/>
		<%= f.date_field :deadline %>

	</div>

	
	<div class="submit">
		<%= f.submit "Submit Entry" %></div>

<% end %>