<!DOCTYPE html>
<html>
  <head>
    <title>Filing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  </head>

  <body>

    <p><a href = "/"> Home </a></p>
    <% if current_user %>
      <%= link_to 'Logout', session_path('current'), method: 'delete' %>
      <h5> <%= User.find(session[:user_id]).email %></h5>
      <%= link_to 'New Entry', new_document_path %>
      <a href = "/documents"> All Documents </a>
    <%else %>
      <%= link_to "Sign Up", new_user_path %>
      <br/>
      <%= link_to "Log In", new_session_path %>
    <% end%>


    <!--for verification of the users -->
    <% if current_user %>
    <% if User.find(session[:user_id]).superadmin? %>
      <p><a href = "/users"> User Verification </a></p>
    <% end %>
    <%end %>


    <!-- This part is for flash messages -->
    <% flash.each do |key, value| -%>
      
        <div id="flash" class = "alert alert-warning">

        <div id="flash_<%= key %>"><%=h value %></div>

      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
