<!DOCTYPE html>
<html>
  <head>
    <title>Filing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  </head>

  <body>

    <p><a href = "/"> Home </a></p>
    <% if current_user %>
      <%= link_to 'Logout', session_path('current'), method: 'delete' %>
      <h5> <%= User.find(session[:user_id]).email %></h5>
      <%= link_to 'New Entry', new_document_path %>
      <a href = "/documents"> All Documents </a>
    <%else %>
      <%= link_to "Sign Up", new_user_path %>
      <br/>
      <%= link_to "Log In", new_session_path %>
    <% end%>


    <!--for verification of the users -->
    <% if current_user %>
    <% if User.find(session[:user_id]).superadmin? %>
      <p><a href = "/users"> User Verification </a></p>
    <% end %>
    <%end %>


    <!-- This part is for flash messages -->
    <% flash.each do |key, value| -%>
      
        <div id="flash" class = "alert alert-warning">

        <div id="flash_<%= key %>"><%=h value %></div>

      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
